@import url();
body{
    font-family:'Open Sans', sans-serif;
}
h1{
    margin-top:0px;
}
.header{
    background-image: url(bck.jpg);
    padding-bottom:360px;
}
.head{
    
    position:relative;
    display:flex;
    align-items: center;
    justify-content: space-between;
    top:0;
    left:0;
    right:0;
    padding:20px 3%;
    width:100%;
}

.logo{
    flex:3;
    font-weight: 600;
    font-size: 25px;
    color:black;
    text-decoration: none;
}
.navbar{
    flex:1;
}
.navbar a{
    font-size:20px;
    font-weight: 600;
    margin-right: 30px;
    text-decoration: none;
    color:rgb(255, 251, 0);

}
.navbar a:hover,
.navbar a.active{
    color: #00fba0;;

}
.main{
    color:rgb(240, 19, 19);
    text-align:center;
}
.huy{
    margin-top: 160px;
}
.content{
    background-color:#081b29;
    color:whitesmoke;
    font-family:'Open Sans', sans-serif;
    text-align: center;
}
.img{
    padding-top: 40px;
    border-radius: 150px;
}
.dv{
    text-decoration: none;
    color:aqua;
}
.dv:hover{
    color:orangered;
}
ul{
    text-align: center;
    display:inline-block;
}
.pot{
    display: block; 
    margin-left:45%;
}
.pot1{
    height:150px;
    width:fit-content;
    display: block;
    margin-left:45%;
    border-radius: 75px;
}
.d{
    display:inline-block;
    margin-left:30px;
}
.cont{
    margin-top: 30px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
.cn{
    text-decoration: none;
    font-size:20px;
    background-color:orange;
    border-radius: 30px;
    padding:0.3em;
}
.cn:hover{
    color:orangered;
    font-size:20px;
    background-color:aqua;
    border-radius: 30px;
    padding:0.5em;
}

.wrapper .button{
    display: inline-block;
    height: 30px;
    width: 30px;
    margin: 0 5px;
    overflow:hidden;
    background: white;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.6);
    transition: all 0.3s ease-out;
  }
  .wrapper .button:hover{
    width: 160px;
  }
  .wrapper .button .icon{
    display: inline-block;
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 30px;
    transition: all 0.3s ease-out;
  }
  .wrapper .button:nth-child(1):hover .icon{
    background: #1DA1F2;
  }
  .wrapper .button:nth-child(2):hover .icon{
    background: #0f5875;
  }
  .wrapper .button .icon i{
    font-size: 25px;
    line-height: 30px;
    transition: all 0.3s ease-out;
  }
  .wrapper .button:hover .icon i{
    color: #fff;
  }
  .wrapper .button span{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-left: 30px;
    transition: all 0.3s ease-out;
  }

  .wrapper .button:nth-child(1) span{
    color: #1DA1F2;
  }
  .wrapper .button:nth-child(2) span{
    color: #2e8fb6;
  }
  .fin{
    margin-top: 50px;;
  }
  .lk{
    text-decoration: none;
    color:#1DA1F2;
  }
  .lk:hover{
    color:red;
  }